Cel Projektu:

Zrozumieć, na co użytkownicy wydają pieniądze, które kategorie generują największe koszty
oraz gdzie istnieje potencjał oszczędności.

In [1]:
import numpy as np
import pandas as pd

np.random.seed(42)

N = 1200

df = pd.DataFrame({
	"transaction_id": range(1, N+1),
	"user_id": np.random.randint(1, 101, size = N),
	"category": np.random.choice(
		["food", "rent", "transport", "entertainment", "health", "subscriptions"],
		size = N,
		p = [0.3, 0.25, 0.15, 0.15, 0.1, 0.05]
	),
	"amount": np.round(np.random.exponential(scale=80, size = N), 2),
	"payment_method": np.random.choice(
		["card", "cash", "transfer"],
		size = N,
		p=[0.6, 0.25, 0.15]
	),
	"is_recurring": np.random.choice([0, 1], size = N, p=[0.7, 0.3]),
	"month": np.random.choice(
		["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
		size=N
	)
})

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  1200 non-null   int64
 1   user_id         1200 non-null   int32
 2   category        1200 non-null   object
 3   amount          1200 non-null   float64
 4   payment_method  1200 non-null   object
 5   is_recurring    1200 non-null   int64
 6   month           1200 non-null   object
dtypes: float64(1), int32(1), int64(2), object(3)
memory usage: 61.1+ KB

ETAP 1 EDA

1. Podstawowy opis danych

In [ ]:
df.head()

,transaction_id,user_id,category,amount,payment_method,is_recurring,month
0,1,52,rent,4.62,transfer,1,Mar
1,2,93,rent,153.24,cash,0,Apr
2,3,15,entertainment,20.45,cash,0,Jan
3,4,72,food,37.85,cash,0,Jan
4,5,61,transport,49.55,card,0,Mar

In [ ]:
df.shape

# Nasza tabela danych ma 1200 wierszy i 7 kolumn

(1200, 7)

In [ ]:
df.info()

# Nasze dane są pełne, nie ma braków

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  1200 non-null   int64
 1   user_id         1200 non-null   int32
 2   category        1200 non-null   object
 3   amount          1200 non-null   float64
 4   payment_method  1200 non-null   object
 5   is_recurring    1200 non-null   int64
 6   month           1200 non-null   object
dtypes: float64(1), int32(1), int64(2), object(3)
memory usage: 61.1+ KB

Statystyki kwot (amount)

In [ ]:
df["amount"].describe()

# Średnia wynosi 81.46
# Mediana wynosi 57.92
# Min wynosi 0.02
# Max wynosi 652.71
# kwartyle: 25% to 23.18, 50% to 57.92, 75% to 114.03

count    1200.000000
mean       81.459817
std        82.185594
min         0.020000
25%        23.185000
50%        57.920000
75%       114.032500
max       652.710000
Name: amount, dtype: float64

 3. Rozkład kategorii wydatków

In [14]:
# Liczba transakcji per category

df["category"].value_counts()

category
food             351
rent             299
transport        197
entertainment    187
health           103
subscriptions     63
Name: count, dtype: int64

In [ ]:
# Łączna kwota per category

df.groupby("category")["amount"].sum().sort_values(ascending=False)

# Najwięcej pieniędzy wydajemy na food (jedzenie)
# Najczęściej wydajemy pieniądze na food i na rent

category
food             28487.49
rent             24718.99
transport        15602.96
entertainment    14049.37
health            8845.38
subscriptions     6047.59
Name: amount, dtype: float64

4. Metody płatności

In [21]:
# rozkład payment_method

df["payment_method"].value_counts()

payment_method
card        718
cash        306
transfer    176
Name: count, dtype: int64

In [ ]:
# Średnia kwota transakcji per metoda

df.groupby("payment_method")["amount"].mean().sort_values(ascending=False)

# Wniosek: Najmniej płacą gotówką a najwięcej przelewem

payment_method
transfer    83.193011
card        83.132618
cash        76.537876
Name: amount, dtype: float64

5. Wydatki w czasie (miesiące)

In [ ]:
# Liczba transakcji per month

df.groupby("month")["transaction_id"].sum().sort_values(ascending=False)

month
Feb    134321
Mar    120269
Jan    119424
Apr    117859
Jun    116738
May    111989
Name: transaction_id, dtype: int64

In [30]:
# Suma wydatków per month

df.groupby("month")["amount"].sum().sort_values(ascending=False)

month
Feb    18370.86
May    18213.64
Jan    16087.43
Apr    15480.04
Mar    14879.11
Jun    14720.70
Name: amount, dtype: float64